<mat-toolbar style="color: rgb(14, 14, 15); background-color: rgb(127, 206, 255);" >
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row-revers" fxLayoutAlign="space-around center" fxFlex="initial" style="margin: 10px;">
            <img src="../../../../../assets/Images/logo-euromonitor-intl-color.png" alt="" height="50px" width="180px" routerLink="./landingpage">
            <div  fxFlex="grow" style="margin: 10px;">
                <button mat-raised-button routerLink="/managerdashboard">Requests</button>
                <button mat-raised-button >My Request</button>
                <button mat-raised-button >View History</button>
            </div>
        </div>
        <div>
            <span style="padding-right: 4rem;">hi {{user}}</span>
            <mat-icon routerLink="/login">exit_to_app</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>