.img{
    padding-left: 5rem;
    padding: 0px 5px;
}
.mat-icon{
    margin: auto;
    padding: 5px;
}

#icon{
    align-content: center;
    margin: auto;
}

/* button{
    margin: 3px;
    background-color: rgb(254, 253, 252);
} */