<app-nav></app-nav>
<body>
    <div class="container-fluid">
      <!-- <div class="container-fluid" > -->
    
      <div class="container">
            <div fxLayout="row " fxLayoutAlign="space-between center">
                <button matTooltip="Add Book" type="button" mat-raised-button style="margin-top: 2%;"  (click)="navigatepage()"> <mat-icon>add</mat-icon></button>
                <div>
                    <input type="text" [(ngModel)]="searchBox"><mat-icon>search</mat-icon>
                </div>
    
            </div>
            <div class="row" style="text-align: center;margin-bottom:5px; border: 10px;">
                   <div class="col-md-3"  *ngFor="let request of RequestData | searchRequest:searchBox">
                    <mat-card class="example-card" >
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>{{request.purpose}}</mat-card-title><br>
                          <mat-card-subtitle>{{request.plannedDate}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../../assets/Images/party.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p style="font-style: oblique;
                          font-weight: 100;">
                            {{request.description}}
                          </p>
                          <div class="row">
                          </div>
                          <div class="row">
                            <span>Approver:{{request.approver}}</span>
                            <span>Estimated_amount:{{request.estimatedCost | currency:"INR"}}</span>
                            <span>Advanced_amount:{{request.adancedAmount | currency:"INR"}}</span>
                         </div>
                        </mat-card-content>
                        <div style="margin-bottom: 10px;">
                          <mat-card-actions>
                            <button matTooltip="Edit Book" *ngIf="!request.isApproved && !request.isRejected"  mat-raised-button color="primary" (click)="displayRequest(request.id)"><mat-icon >edit</mat-icon></button>&nbsp;
                            <button matTooltip="Delete Book" *ngIf="!request.isApproved && !request.isRejected"  matTooltipClass="redToolTip" mat-raised-button color="warn" (click)="deleteRequest(request)" ><mat-icon >delete</mat-icon></button>
                            <button matTooltip="Upload" *ngIf="request.isApproved && !request.isRejected" matTooltipClass="redToolTip" mat-raised-button style="background-color:green;">Upload</button>
                            <button matTooltip="Reason" *ngIf="!request.isApproved && request.isRejected" matTooltipClass="redToolTip" mat-raised-button color="warn">Reason</button>
                          </mat-card-actions>
                        </div>
                      </mat-card>
                   </div>
            </div>
        </div>
    </div>
    </body>